body {
    margin: 0;
    padding: 0;
}

.header_wrapp {
    width: 1020px;
    height: 95px;
    border-bottom:  #323746 solid 6px;
    margin: 0 auto;
    background: #2D303A;
    display: flex;
    justify-content: space-between;
}

.wrapp_logo_container {
    display: inline-block;
}

.h1_wrapp {
    width: 124px;
    height: 25px;
    margin-left: 40px;
    margin-top: 29px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: #fff;
}

.h1_wrapp span {
    color: #F06C64;
}

.header_nav_row {
    width: 375px;
    height: 14px;
    margin: 0 40px 0 401px;
    margin-top: 42px;
    font-family: Lato;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.035em;
    display: flex;
    justify-content: space-between;
}

.header_nav_row a {
    text-decoration: none;
    color: #fff;
}

.header_nav_row a:hover {
    color: #F06C64;
    cursor: pointer;
    transition: all .3s;
}

.header_nav_row li {
    color: #fff;
    list-style-type: none;
}

.header_nav_row li:not(:last-child):after {
    content: "·";
    color: #fff;
    padding: 15px;
}

.slider {
    width: 1020px;
    height: 600px;
    margin: 0 auto;
    background: #F06C64;
    border-bottom: #EA676B solid 6px;
}

.slider_controls {
    display: flex;
    justify-content: space-between;
    padding: 283.5px 40px 0 40px;
    position: relative;
    height: 27px;
}

.slider_controls_arrow_left:hover, .slider_controls_arrow_right:hover {
    cursor: pointer;
    background: #2D303A;
    transition: all .3s
}

.slider_content {
    display: flex;
    position: relative;
    margin-left: 112px;
    margin-top: -256.5px;
    width: 80%;
}

.slider_content_phone_horizontal {
    align-self: center;
    margin-left: 73px;
}
